@tailwind base;
@tailwind components;
@tailwind utilities;

@import "~react-toastify/dist/ReactToastify.css";
@import "~swiper/css";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--font-manrope);
}

// scrollbar

body::-webkit-scrollbar {
    display: none;
}

.scrollbar-hide::-webkit-scrollbar {
    display: none;
}

// layout classes

.container {
    max-width: 100%;
}

.row {
    display: flex;
}

// chart

.recharts-wrapper {
    width: 100% !important;
    height: auto;
}

// dialog box

.dialog-wrapper {
    .dialog-header {
        display: none;
    }
}

// swiper

.swiper {
    max-width: 808px;
    width: 100%;
}

thead {
    & > tr {
        box-shadow: 1px 1px 1px rgb(235 240 237 / 1);
    }
}
