@tailwind base;
@tailwind components;
@tailwind utilities;

* {
     margin: 0;
     padding: 0;
     box-sizing: border-box;
}

// scrollbar  

.scrollbar-hide::-webkit-scrollbar {
     display: none;
}

// layout classes

.row {
     display: flex;
     gap: 2rem;
}

// table classes

tbody {
     tr {
          background-color: transparent;

          &:hover {
               background-color: rgb(245 245 245);
          }
     }
}

